extends layout

block content
  h2 Log In

  if error != ''
    .col-md-5mx-auto
      .alert.alert-error #{error}
  form(action="/login",method="post")
    .form-group
      label e-mail
      input#email.form-control(type="text",name="username")

    .form-group
      label Password
      input#password.form-control(type="password",name="password")

    .col-md-12.text-center.mb-3
      input.btn.btn-block.mybtn.btn-primary.tx-tfm(type="submit",value="Log In")
