extends layout

block content
  h2 Sign Up!
  .row1
  if error != ''
    .col-md-5mx-auto
      .alert.alert-error #{error}
        #{error}
  .row1
    form(action="/signup",method="post")
      .form-group
        label e-mail
        input#email.form-control(type="text",name="username")

      .form-group
        label first name
        input#firstname.form-control(type="text",name="firstname")
        
      .form-group
        label last name
        input#lastname.form-control(type="text",name="lastname")

      .form-group
        label Password
        input#password.form-control(type="password",name="password")

      .form-group
        label Confirm Password
        input#password.form-control(type="password",name="confirmPassword")

      .col-md-12.text-center.mb-3
        input.btn.btn-block.mybtn.btn-primary.tx-tfm(type="submit",value="Sign Up")